* {
    box-sizing:  border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
}
ul {
    list-style-type: none;
}
/* #region header */

.main-header {
}
.header-title {
 font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
text-decoration: none;
}
.title-accent {
 color: #4D5AE5;
}

.page-nav{

}
.nav-list{

}
.nav-item {
line-height: 1.5;
}

.nav-item-link {
  font-weight: 500;
font-size: 16px;
letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
}
.nav-item-link:hover,
.nav-item-link:focus {
  color: #404bbf;       
}
.nav-item-link.nav-item-studio:active {
    color: #404bbf;     
  text-decoration: underline;
}
.address {
    font-style: normal
}
.social-list {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.social-item-link {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em; text-decoration: none;
color: #434455;
}
.social-item-link:hover,
.social-item-link:focus
 {
  color: #404bbf;       
}
/* #endregion header */
/* #region main */
/* #region hero */

.hero-section {
    background-color: #2E2F42;
    box-sizing: border-box;
    padding: 188px 0;
}
.main-title {
margin: 0;
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
}
.button {
font-weight: 500;
font-size: 16px;
width: 169px;
height: 56px;
line-height: 1.5;
background-color: #4D5AE5;
color: #ffffff;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
letter-spacing: 0.04em;
cursor: pointer;
}
.button:hover,
.button:focus {
    background-color: #404BBF;
}
/* #endregion hero */
/* #region features */
.features-section {
    background-color: #ffffff;
}
.features-list {
}
.features-item{
    width: 264px;
height: 104px;
}
.features-item-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.features-item-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
/* #endregion features */
/* #region team */

.our-team-section{
    background-color: #f4f4fd;
}
.our-team-tittle{
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
}
.our-team-list{
}
.our-team-item{
background-color: #ffffff;
}
.employe-photo{

}

.employe-name{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
}
.employe-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* #endregion team */
/* #region portfolio */
.portfolio {
}
.portfolio-title {
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
}
.portfolio-list{

}
.portfolio-list-item{

}
.portfolio-item-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.portfolio-item-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
/* #endregion portfolio */
/* #endregion main */
/* #region footer */
.footer {
    background-color: #2E2F42;
}
.title-end {
  font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
text-decoration: none;
}
.footer-info {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
/* #endregion footer */